.o_sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    display: none;
    overflow-y: auto;
    z-index: 1000;
}
